<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/placeorder.css">
<link rel="manifest" href="manifest.json">
<script src="js/input.js"></script>
<title>Shopping App </title>
</head>

<body>

  <div class="container">

    <button class="checkoutbutton"><a href="/order"><b>Place your order</b></a></button>

    <form action="/action_page.php">
      <div class="Name_label">
        <label for="fname"> Name</label>
        <input type="text" id="fname" class="Name_text" name="firstname" placeholder="Your name..">
      </div>

      <div class="Contact_label">
        <label for="lname">Contact No</label>
        <input type="text" id="lname" class="Contact_text" name="lastname" placeholder="Your Contact No..">
      </div>

      <div>
        <label for="Location">Choose a Location:</label>
        <select name="Locations" id="locations">
          <option value="Please Select" selected>Please Select a delivery location!</option>
          <% locations.forEach(function(location){%>
            <option value=" <%= location.city + " --" + location.name %> " ><%= location.city + "--" + location.name %>
            </option>
            <%}); %>
        </select>

        <!-- <div>
          <label for=" subject" class="Address_label">Address</label>
      </div>
      <textarea id="subject" class="Address_text" name="subject" placeholder="Your address..."
        style="height:200px"></textarea> -->
      </div>
    </form>
    <div>
      Order Total: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $ <%=GrandTotal %>
      <% if(GrandTotal !=0) {%>
      <% cart.forEach(function(cart){%>
            <div>
              <%=cart.ProductName %>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <%= cart.Price %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <%= cart.Quantity %>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= cart.QuantityTimesPrice %>
            </div>

            <%}); %>
            <%} else { %>
              <div>
                <h2 style="padding-left:30% ;">The cart is empty</h2>
              </div>
              <% } %>


    </div>
    <div>
      <span><a href="/" class="fa fa-home home_footer"></a></span>
      <span><a href="/cart" class="fa fa-shopping-cart cart_footer"> </a></span>
    </div>
  </div>




</body>

</html>