<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/product.css">
<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
<script src="/js/input.js"></script>
<title>Buy Iteams</title>
</head>

<body>
 



  <div class="container">
    <% user.forEach(function(user){%>
    <div class="image">
        <div class="grid-box"><img src="<%=" /" + user.ImageUrl%>" /></div>
    </div>
    <div class="description">
      <%= user.ProductDescription %>
    </div>
    <div class="order">
      <div class="order_boarder">
        <input type="text" hidden id="id1" value="<%=user.ImageUrl %>">
        <input type="text" hidden id="id2" value="<%=user.ProductPrice %>">
        <input type="text" hidden id="id3" value="<%= user.ProductName %>">
        <input type="text" hidden id="id4" value="<%=user.ProductId %>">
        <div class="add-to-cart" onclick="Send(document.getElementById('id1'),document.getElementById('id2'),1,document.getElementById('id3'),document.getElementById('id4'))" >Add to cart</div>
      </div>
        <div class="border_menu">
        <span class=" home_footer"><a href="/" class="fa fa-home" ></a></span>
      <span class="cart_footer"><a href="/cart" class="fa fa-shopping-cart " id='lblCartCoun1t' > <%- JSON.stringify(count) %> </a></span>
    </div>
    </div>
    <%}); %>


    <div>
      
      </div>



</body>

</html>